body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 50px;
}

#resultado {
    padding: 20px;
    font-size: 30px;
    border: 2px solid white;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}
